.Shade{
    height: auto;
    padding-top: 5vh;
    background-image: linear-gradient(#4FA673, #DBBA4B , #FB492C87 ) ;
    display: flex;
    justify-content: center;
    flex-direction: column;   
    color: white;
    text-align: center;
     
}

.Shade p{
    line-height: 1.6;
}

.shade_top_text{
    margin: 1rem;
    line-height: 1.6;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.shade_top_text p{
    text-align: left;
}


.shade_top_text h2{
    font-weight: 300;
    font-size: 24pt;
    margin: 1rem;
    background-color: #242424a9;
}


.shade_header_background_image{
    background-image: url('https://jericho-content.nyc3.cdn.digitaloceanspaces.com/VARIOUS/SEO_photos/Trees/ElmTree.jpg');
    object-fit: cover;
    background-size: cover;
    width: 80vw;
    padding: 1rem;
}

.shade_top_text p{
    font-size: 14pt;
    margin: 2rem 1rem;
}

.tree_catalog_title{
    font-size: 26pt;
    font-weight: 700;
    margin-bottom: 2rem;
    text-shadow: 1px 1px 2px #000;
}






@media (min-width:825px) {
    .shade_top_text p{
        font-size: 16pt;
        margin: 1rem;
    }

    .shade_top_text h2{
        padding: 2rem;
    }
    .tree_catalog_title{
        font-size: 32pt;
    }



    
}

@media (min-width:1025px) {
    .tree_catalog_sub_section{
        padding: 1.5rem;
      }
    .shade_top_text h2{
        font-size: 36pt;
        padding: 1rem;
    }
    .shade_top_text{
        margin: 2rem 4rem;
    }
    .shade_top_text p{
        line-height: 1.6;
        margin: 2rem;
    }
    .header_background_image{
        width: 60vw;
    }    
    .header_background_image{
        width: 50vw;
    }

}


@media (min-width:1300px) {
    .shade_top_text p{
        font-size: 18pt;
    }


}

@media (min-width:1500px) {
    .shade_top_text h2{
        font-size: 44pt;
    }
    .shade_top_text p{
        font-size: 18pt;
        margin: 2rem 4rem;
    }
    .shade_top_text{
        margin: 2rem 6rem;
    }
    .header_background_image{
        width: 45vw;
    }

}

@media (min-width:1650px) {
    .shade_top_text{
        margin: 2rem 10rem;
    }
    .shade_header_background_image{
        width: 65vw;
    }
}

@media (min-width:1900px) {
    .shade_top_text{
        margin: 2rem 24rem;
    }
}
