.Fruit{
    height: auto;
    padding-top: 5vh;
    background-image: linear-gradient(#4FA673, #DBBA4B , #FB492C87 ) ;
    display: flex;
    justify-content: center;
    flex-direction: column;   
    color: white; 
    text-align: center;
}

.Fruit p{
    line-height: 1.6;

}
.fruit_top_text{
    margin: 1rem;
    line-height: 1.6;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.fruit_top_text h2{
    font-size: 24pt;
    margin: 1rem;
    background-color: #242424a9;
}
.fruit_top_text p{
text-align: left;
}


.fruit_header_background_image{
    background-image: url('https://jericho-content.nyc3.cdn.digitaloceanspaces.com/VARIOUS/SEO_photos/Trees/fruit/cherries-1595610_1920.jpg');
    object-fit: cover;
    background-size: cover;
    width: 80vw;
    padding: 1rem;
}


.fruit_tree_example_each{
    margin: 1rem;
}

.fruit_tree_example_each h2{
    font-size: 24pt;
    font-weight: 700;

}
.fruit_tree_example_each h3{
    font-size: 16pt;
    font-weight: 500;
    text-decoration: underline;
  }

  .tree_catalog_sub_section{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #a1a1a181;
    padding: 0.5rem;
    margin: 1.5rem 0rem ;
  }
  
  .tree_catalog_title{
    font-size: 26pt;
    font-weight: 700;
    margin-bottom: 2rem;
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
  }
  
  
  
  
  
  
  @media (min-width:825px) {
  
    .tree_catalog_title{
        font-size: 32pt;
    }
  
  }
  
  @media (min-width:1025px) {
  
    .tree_catalog_sub_section{
      padding: 1.5rem;
    }
  
    .header_background_image{
        width: 60vw;
    }    
  }
  
  
  @media (min-width:1300px) {
  
    .header_background_image{
        width: 50vw;
    }
  
  }
  
  @media (min-width:1500px) {
    .header_background_image{
        width: 45vw;
    }
  }
  
  
  

@media (min-width:825px) {
    .fruit_top_text p{
        font-size: 16pt;
        margin: 1rem;
    }
    .fruit_tree_example_each h2{
        font-size: 26pt;
    }
    .fruit_tree_example_each h3{
        font-size: 22pt;
    }
}

@media (min-width:1025px) {
    .fruit_top_text h2{
        font-size: 40pt;
    }
    .fruit_tree_example_each h2{
        font-size: 30pt;
    }
    .fruit_tree_example_each{
        margin: 2rem;
    }
    .fruit_top_text{
        margin: 2rem 4rem;
    }
}

@media (min-width:1200px) {
    .fruit_tree_example_each{
        margin: 2rem 4rem;
    }
}

@media (min-width:1500px) {
    .fruit_top_text h2{
        font-size: 44pt;
    }
    .fruit_top_text p{
        font-size: 18pt;
        margin: 2rem 4rem;
    }
    .fruit_tree_example_each h2{
        font-size: 36pt;
    }
    .fruit_tree_example_each h3{
        font-size: 26pt;
    }
    .fruit_top_text{
        margin: 2rem 6rem;
    }
}

@media (min-width:1650px) {
    .fruit_top_text{
        margin: 2rem 10rem;
    }
}

@media (min-width:1900px) {
    .fruit_top_text{
        margin: 2rem 24rem;
    }

}
