
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, 
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;

}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* .rich-text styles (specific) */
.rich-text-editor{
	padding: 100px;
    margin-bottom: 100px;
}
.rich-text{
	display: flex;
	justify-content: center;
	align-self: center !important;
}
.rich-text ol{  
	list-style: decimal;
	list-style-position: inside;
	margin: 0;
	padding: 0;
}
.rich-text ul {
  list-style: circle;
  list-style-position: inside;
  margin: 0;
  padding: 0;
}

/* Increase specificity for strong and em elements within .rich-text */
.rich-text strong {
  font-weight: 800;
}

.rich-text em {
  font-style: italic;
}

/* Override link styles within .rich-text */
.rich-text a {
  text-decoration: underline;
  color: blue;
}

.rich-text ol ol {
  list-style-type: square; /* You can change this to your preferred style */
  margin-left: 20px; /* Adjust the left margin to create further indentation */
}
.rich-text ul ul {
	list-style-type: square; /* You can change this to your preferred style */
	margin-left: 20px; /* Adjust the left margin to create further indentation */
  }


  .tree_catalog_title{
    font-size: 46pt;
    font-weight: 700;
    margin-bottom: 2rem;
    text-shadow: 1px 1px 2px #000;
  }


/* DESKTOP NAVIGATION CSS */
.navbar {
    justify-content: space-between;
    align-items: center;
    background-color: #242424;
    color: #fff;
    padding: 10px;
    z-index: 10 !important;
    height: fit-content;
    position: relative;
	text-align: center;
  }

  .nav_svg{
    width: 8vw;
  }

  
  .navbar__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
	
  }
  
  .navbar__menuItem {
    margin: 0 10px;
    position: relative;
  }
  
  .navbar__menuItem p{
    color: #fff;
    text-decoration: none;
    font-size: 18pt;
  }
  .navbar__menuItem a{
    color: #fff;
    text-decoration: none;
    font-size: 18pt;
    line-height: 2;
	width: 100%;
	height: 100%;
	display: block;
  }

  .navbar__dropdownMenu_yellow li:hover{
    background-color: #DBBA4B;
  }
  .navbar__dropdownMenu_brown li:hover{
    background-color: #95562E;
  }
  .navbar__dropdownMenu_brown_ffc li:hover{
    background-color: #95562E;
  }
  .navbar__dropdownMenu_green li:hover{
    background-color: #4FA673;
  }


  


  .navbar__menuItem--hasDropdown:hover::before,
.navbar__menuItem--hasDropdown:focus::before {
  content: '';
  position: absolute;
  top: -10px; /* Adjust this value to increase or decrease the hover area vertically */
  left: -10px; /* Adjust this value to increase or decrease the hover area horizontally */
  width: calc(100% + 20px); /* Adjust this value to increase or decrease the hover area width */
  height: calc(100% + 20px); /* Adjust this value to increase or decrease the hover area height */
  z-index: -1;
  opacity: 0;
  transition: opacity 0.2s;
  /* Pseudo-element styles for hover area overlay */
}
  .navbar__menuItem--hasDropdown:hover .navbar__dropdownMenu_yellow {
    display: block;  
  }
  .navbar__menuItem--hasDropdown:hover .navbar__dropdownMenu_brown {
    display: block;  
  }
  .navbar__menuItem--hasDropdown:hover .navbar__dropdownMenu_brown_ffc {
    display: block;  
  }
  .navbar__menuItem--hasDropdown:hover .navbar__dropdownMenu_green {
    display: block;  
  }

  .navbar__dropdownMenu_yellow {
    display: none;
    position: absolute;
    top: 103%;
    left: -10px;
    background-color: #242424;
    padding: 10px;
    width: 200px;
    border: #DBBA4B 4px solid;
    border-radius: 20px;
    z-index: 11 !important;
  }
  
  .navbar__dropdownMenu_brown {
    display: none;
    position: absolute;
    top: 103%;
    left: -10px;
    background-color: #242424;
    padding: 10px;
    width: 200px;
    border: #95562E 4px solid;
    border-radius: 20px;
    z-index: 11 !important;
  }
  .navbar__dropdownMenu_brown_ffc {
    display: none;
    position: absolute;
    top: 103%;
    left: 5px;
    background-color: #242424;
    padding: 10px;
    width: 200px;
    border: #95562E 4px solid;
    border-radius: 20px;
    z-index: 11 !important;
  }
  .navbar__dropdownMenu_green {
    display: none;
    position: absolute;
    top: 103%;
    left: -10px;
    background-color: #242424;
    padding: 10px;
    width: 200px;
    border: #4FA673 4px solid;
    border-radius: 20px;
    z-index: 11 !important;

  }
  
  .navbar__dropdownItem{
    margin: 2rem;
  }
  
  .navbar__dropdownItem a{
    color: #fff;
    text-decoration: none;
  }
  .white_border{
    border: 1px solid white;
  }
  
  .nav_svg_and_p{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }


  #path_products_icon{
    stroke: #4FA673;
    fill: #4FA673;}


	.logo{
		height: auto;
		max-height: 28vh;
		max-width: 100%;
		width: auto;
		margin: 2rem auto;
		align-self: center;
	}



  @media (max-width:2000px) {
    .nav_svg{
      width: 12vw;
display: flex;
justify-content: center;
    }
    .navbar__menuItem {
      margin: 0 10px;
      position: relative;
    }
    .nav_svg_and_p{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    
      .navbar__dropdownMenu_yellow {
    display: none;
    position: absolute;
    top: 103%;
    left: -68px;
    background-color: #242424;
    padding: 10px;
    width: 200px;
    border: #DBBA4B 4px solid;
    border-radius: 20px;
  }
  
  .navbar__dropdownMenu_brown {
    display: none;
    position: absolute;
    top: 103%;
    left: -40px;
    background-color: #242424;
    padding: 10px;
    width: 200px;
    border: #95562E 4px solid;
    border-radius: 20px;
  }
  .navbar__dropdownMenu_brown_ffc {
    display: none;
    position: absolute;
    top: 103%;
    left: 5px;
    background-color: #242424;
    padding: 10px;
    width: 200px;
    border: #95562E 4px solid;
    border-radius: 20px;
  }
  .navbar__dropdownMenu_green {
    display: none;
    position: absolute;
    top: 103%;
    left: -10px;
    background-color: #242424;
    padding: 10px;
    width: 200px;
    border: #4FA673 4px solid;
    border-radius: 20px;
  }
  }
/* MOBILE NAVIGATION CSS */
.navbar__mobile{
  position: fixed;
  z-index: 10;
  color: white;   
  text-align: center;
  }
  .open_gray{
    background-color: #242424;
    padding-left: 1rem;
    margin-bottom: 1rem;
  }
  .mobile_nav_icon{
      width: 5rem;
      padding: 1rem 0;
  }
  .mobile_nav_container{
      display: flex;
      justify-content: space-between;
      height: 100vh;
      animation: fadeInLeft 0.5s;
      margin-top: -4vh;
  }
  .mobile_nav_container p{
   font-size: 10pt;   
  }
  .right_side_mobile_nav{
      width: 40vw;
      margin: 0.5rem;
      height: fit-content;
      margin-top: 5vh;

  }
  .mobile_logo{
      height: 1.5rem;
      width: auto;
  }
  .mobile_logo_container{
      height: 2rem;

  }
  
  .left_side_mobile_nav{
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      height: 94vh;
  }
  .left_side_mobile_nav li, a{
  text-decoration: none;
  color: white;
  }
  .navbar__dropdownItem_mobile{
  padding: 3rem 0.25rem;

  }
  .right_side_mobile_nav ul{
      animation: fadeInUp 0.5s;
      margin-top: 2.5rem;
      justify-self: center; 
      list-style-type: none;
      padding: 0; 
      margin: 0; 

  }
  .green_mn{
      border: #4FA673 2px solid;
      border-radius: 12px;
  }
  .yellow_mn{
      border: #DBBA4B 2px solid;
      border-radius: 12px;
  }
  .brown_mn{
      border: #95562E 2px solid;
      border-radius: 12px;
  }
  .navbar-toggle{
    background-color: #242424;
    border: none;
    width: 55px;
    height: 45px;
    padding-left: 7.5px;
  }

  @keyframes fadeInLeft {
      0% {
        opacity: 0;
        transform: translateX(-100%);
      }
      100% {
        opacity: 1;
        transform: translateX(0);
      }
    }
    
  @keyframes fadeInUp {
      0% {
        opacity: 0;
        transform: translateY(100%);
      }
      100% {
        opacity: 1;
        transform: translateX(0);
      }
    }
    
  
    @media (max-height:750px) {
      .mobile_nav_icon{
          width: 5rem;
          padding: 1rem 0;
          justify-self: center;
      }


    } 
  
    .hamburger-icon__path {
      transition: d 5s ease-in-out;
    }
   
    
  
     




/* DELIVERY VAN ANIMATION */
#top_smoke{
	animation: smoky;
	animation-duration: 2s;
	}
	#mid_smoke{
	 animation: smoky2;
	  animation-duration: 2s;
	}
	#road{
	  animation: road;
	  animation-duration: 2s;
	}
	
	  
	   #front_wheel{
		transform-box: fill-box;
		transform-origin: 50% 50%;
		animation-duration: 3s;
		animation-name: rotate;
	
	   }
	   #back_wheel{
		transform-box: fill-box;
		transform-origin: 50% 50%;
		animation-duration: 3s;
		animation-name: rotate;
	
	   }
	   @keyframes smoky {
		0% {
		  transform: translateX(-95px) ;
		  opacity: 0.8;
		}
		50% {
		  transform: translateX(50px);
		  opacity: 0.5;
		}
		100%{
		  transform: translateX(0px);
		  opacity: 1;
		}
	  }
	   @keyframes smoky2 {
		0% {
		  transform: translateY(-75px) ;
		  opacity: 0.8;
		}
		50% {
		  transform: translateY(30px);
		  opacity: 1;
		}
		100%{
		  transform: translateY(0px);
		  opacity: 1;
		}
	  }
	  @keyframes road {
		0% {
		  transform: scaleX(1);
		}
		20% {
		  transform: scaleX(.5);
		}
		50% {
		  transform: scaleX(1.1);
		}
		100% {
		  transform: scaleX(1);
		}
	  }
	
	  @keyframes rotate {
		from {
		  transform: rotate(0deg);
		}
		to {
		  transform: rotate(2160deg);
		}
	  }
	


