.balloons{
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
    height: 40vh;
    width: 100%;
    object-fit: cover;
  }


  @media (min-width: 1500px) {

    .balloons{
      height: 35vh;
    }
  }