.flip_card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
  width: 74vw;
  border-radius: 20px;
  margin: 1rem;
  font-size: 30pt;
  position: relative;
  z-index: 3;
  color: rgb(194, 186, 69);
  cursor: pointer;
}

.flip_card_inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s; /* Smooth flip transition */
  transform-style: preserve-3d;
}

.flip_card.flipped .flip_card_inner {
  transform: rotateY(180deg); 
}
.flip_card.flipped .flip_card_front{
  display: none;
}

.flip_card_front, .flip_card_back {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 20px;
}

.flip_card_front {
  background-color: #ffffff00;
  font-weight: 800;
}

.flip_card_back {
  background-color: rgba(30, 31, 39, 0.493);
  flex-direction: column;
  transform: rotateY(180deg); /* Initially flipped */
  overflow-y: auto;
}

.flip_card_list {
  height: 33vh;
  list-style: none;
  padding: 0;
}

.flip_card_back li {
  position: relative;
  font-size: 14pt;
  padding: 1rem;
  font-weight: 600;
}

/* Scrollbar styling */
.flip_card_back::-webkit-scrollbar {
  width: 15px;
}
.flip_card_back::-webkit-scrollbar-track {
  background-color: #95562E;
  border-radius: 20px;
}
.flip_card_back::-webkit-scrollbar-thumb {
  background-color: #DBBA4B;
  border-radius: 20px;
}

.flip_card_front h2{
  background-color: #242424;
}


/* Media Queries */
@media (min-width: 1025px) {
  .flip_card {
    height: 30vh;
    width: 40vw;
  }
  .flip_card_list {
    height: 28vh;
  }
  .flip_card_back li {
    font-size: 18pt;
  }
}

@media (min-width: 1025px) and (max-height: 1000px) {
  .flip_card {
    height: 60vh;
    width: 42vw;
  }
  .flip_card_list {
    height: 58vh;
  }
}

@media (min-width: 2025px) {
  .flip_card {
    height: 30vh;
    width: 22vw;
  }
  .flip_card_list {
    height: 28vh;
  }
}

@media screen and (min-width: 480px) and (max-height: 640px) and (orientation: landscape) {
  .flip_card {
    height: 60vh;
    width: 62vw;
  }
  .flip_card_list {
    height: 58vh;
  }
}
