.modal{
    background-color: #242424;
    color: white;
    border: none;
    border-radius: 20px;
}
.modal p{
    padding: 1rem;
}
.hours_button{
    height: auto;
    width: auto;
    padding: 1.25rem;
    background-color: #95562e;
    border: none;
    border-radius: 12px;
    font-family: 'Raleway';
    font-size: 12pt;
    font-weight: 600;
    color: white;
    align-self: center;
    cursor: pointer;
    margin: 1rem;
    box-shadow: 1px 3px 10px 5px rgba(0, 0, 0, 0.25);
  }
  .hours_button:hover{
    background-color: #ffffff;
    color: #95562e;
    transition: 1s
  }