.modal{
    background-color: #242424;
    color: white;
    border: none;
    border-radius: 20px;
    z-index: 10;
}
.modal p{
    padding: 1rem;
}
.hours_button{
    height: auto;
    width: auto;
    padding: 1.25rem;
    background-color: #95562e;
    border: none;
    border-radius: 12px;
    font-family: 'Raleway';
    font-size: 12pt;
    font-weight: 600;
    color: white;
    align-self: center;
    cursor: pointer;
    margin: 1rem;
    box-shadow: 1px 3px 10px 5px rgba(0, 0, 0, 0.25);
  }
  .hours_button:hover{
    background-color: #ffffff;
    color: #95562e;
    transition: 1s
  }


.modal {
  border: none;
  padding: 1rem;
  max-width: 90%;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  font-size: 14pt;
  line-height: 1.2;
}
.modal h1{
  font-size: 16pt;
}

.close_button {
  float: right;
  margin-bottom: 1rem;
  background: transparent;
  border: 1px solid #ccc;
  padding: 0.25rem 0.5rem;
  cursor: pointer;
  border-radius: 6px;
  color: white;
}

.schedule_table {
  width: 100%;
  border-collapse: collapse;
}

.schedule_table th,
.schedule_table td {
  border: 1px solid #ccc;
  padding: 0.5rem;
  text-align: left;
}

.schedule_table th {
 
  font-weight: bold;
}


  