.GardenResources{
    height: auto;
    padding-top: 5vh;
    background-image: linear-gradient(#95562E, #DB4B4B, #15F6C0a8  ) ;
    display: flex;
    justify-content: center;
    flex-direction: column;   
    text-align: center;
}
.GardenResources p{
    line-height: 1.8;
}

.gr_welcome{
    margin: 5vh;
    background-color: #242424;
    height: auto;
    width: 60vw;
    border-radius: 20px;
    box-shadow: 11px 13px 10px 5px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
    align-self: center;
    color: #95562E;
    font-weight: 700;
    font-size: 20pt;
    padding: 5vh;

}
.gr_welcome h1{
    color: #4FA673;
    font-size: 30pt;
    font-weight: 700;
}
.gr_welcome p{
    padding: 1.5vw;
    line-height: 1.4;
    font-size: 12pt;
    
}
.gr_body_main{
    background-image: linear-gradient( #9f4a38, #6f5d53, #209276);
    height: auto;
    width: 90vw;
    border-radius: 20px;
    box-shadow: 11px 13px 10px 5px rgba(0, 0, 0, 0.25);
   align-self: center;
   color: white;
   padding-bottom: 2rem;
   margin-bottom: 4rem;
}

.clubs{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.clubs h2{
    color: #662866;
    background-color: #d9d9d9;
    width: 60vw;
    align-self: center;
    font-size: 30pt;
    border-radius: 12px;
    margin: 1rem;
    padding: 1rem;
    margin: 5rem;
}
.local_resources h2{
    color: #662866;
    background-color: #d9d9d9;
    width: 60vw;
    align-self: center;
    font-size: 30pt;
    border-radius: 12px;
    margin: 1rem;
    padding: 1rem;
    margin-top: 6rem;

}


.single_container{
    display: flex;
    align-self: center;
    flex-direction: column;
    margin: 3rem 0rem;
}
.single_container h3{
background-color: #662866;
margin: 1rem;
padding: 1.5rem 0rem;
font-size: 24pt;
}
.single_container p{
    text-align: left;
    align-self: center;
    margin: 1rem;
}
.single_container button{
    background-color: #662866;
    color: #d9d9d9;
    font-weight: 700;
    font-size: 16pt;
    padding: 0.5rem 1rem;
    border: none;
    align-self: center;
    cursor: pointer;
}

/* pics! */
.abq_garden_center{
    width: 20vw;
    align-self: center;
    background-color: #d9d9d9;
    padding: 0.5rem;
}
.abq_master_gardeners{
    width: 35vw;
    align-self: center;
}
.usda{
    width: 30vw;
    align-self: center;
    background-color: #d9d9d9;
    padding: 0.3rem;
}
.abq_biopark{
    width: 25vw;
    align-self: center;
}
.five_oh_five{
    width: 50vw;
    align-self: center;
    background-color: #d9d9d9;
    padding: 0.3rem;
}
.abq_library{
    width: 50vw;
    align-self: center;
    background-color: #d9d9d9;
    padding: 0.3rem;
}





.image_background{
    background-image: url('https://jericho-content.nyc3.cdn.digitaloceanspaces.com/VARIOUS/SEO_photos/Xeric/bedding/mexican-evening-primrose.jpg');
    height: 30vh;
    width: 70vw;
    align-self: center;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    filter: brightness(80%);
    
}
.image_background2{
    background-image: url('https://jericho-content.nyc3.cdn.digitaloceanspaces.com/VARIOUS/SEO_photos/Xeric/bedding/hardy-african-daisy.jpg');
    height: 30vh;
    width: 70vw;
    align-self: center;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    filter: brightness(80%);
}
.image_background3{
    background-image: url('https://jericho-content.nyc3.cdn.digitaloceanspaces.com/VARIOUS/SEO_photos/Shrubs/flower/indian-hawthorn-foliage.jpg');
    height: 30vh;
    width: 70vw;
    align-self: center;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    filter: brightness(80%);
}
.image_background4{
    background-image: url('https://jericho-content.nyc3.cdn.digitaloceanspaces.com/VARIOUS/SEO_photos/Shrubs/flower/catawba-crape.jpg');
    height: 30vh;
    width: 70vw;
    align-self: center;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    filter: brightness(80%);
}
.image_background5{
    background-image: url('https://jericho-content.nyc3.cdn.digitaloceanspaces.com/VARIOUS/SEO_photos/Xeric/bedding/oriental-poppy.jpg');
    height: 30vh;
    width: 70vw;
    align-self: center;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    filter: brightness(80%);
}
.image_background6{
    background-image: url('https://jericho-content.nyc3.cdn.digitaloceanspaces.com/VARIOUS/SEO_photos/Trees/RGcottonwood.jpg');
    height: 30vh;
    width: 70vw;
    align-self: center;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    filter: brightness(80%);
}
.image_background7{
    background-image: url('https://jericho-content.nyc3.cdn.digitaloceanspaces.com/VARIOUS/SEO_photos/Shrubs/flower/white-potentillas-6471446_1920.jpg');
    height: 30vh;
    width: 70vw;
    align-self: center;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    filter: brightness(80%);
}

.local_resources{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.clubs_inner{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.local_resources_inner{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.single_container button:hover{
   transition: 1s; 
   background-color: #d9d9d9;
   color: #662866;
}



@media (min-width: 825px){
    .gr_welcome h1{
        font-size: 30pt;
    }
    .gr_welcome p{
        font-size: 14pt;
    }

    .single_container h3{
        width: 50vw;
        align-self: center;
    }
    .single_container p{
        width: 70vw;
        font-size: 14pt;
    }
}

@media (min-width: 1025px){
      .gr_welcome h1{
        font-size: 50pt;
    }
    .gr_welcome p{
        font-size: 18pt;
        line-height: 1.8;
        padding: 1.5vw;
    }
       .clubs h2{
        font-size: 36pt;
    }
       .local_resources h2{
        font-size: 36pt;
    }
       .single_container h3{
        width: 38vw;
        font-size: 30pt;
        padding: 1rem;
    }
       .single_container p{
        font-size: 16pt;

    }
    .single_container button{
        font-size: 22pt;
        margin: 2rem;
    }
    .abq_garden_center{
        width: 15vw;
    }
    .abq_master_gardeners{
        width: 25vw;
    }
    .abq_biopark{
        width: 20vw;
    }
    .five_oh_five{
        width: 35vw;
    }
    .usda{
        width: 20vw;
    }

    }
    
@media (min-width: 1200px) {
.single_container p{
    width: 60vw;
}

}


@media (min-width: 1400px) {
    .single_container p{
    width: 38vw;
}
.single_container{
    height: 85vh;
    width: 40vw;
    overflow: hidden;
    margin: 2rem;
}
.clubs_inner{

    flex-direction: row;
    flex-wrap: wrap;
}
.local_resources_inner{
   
    flex-direction: row;
    flex-wrap: wrap;
}
.abq_garden_center{
    width: 10vw;
}
.abq_master_gardeners{
    width: 15vw;
}
.abq_biopark{
    width: 12vw;
}
.five_oh_five{
    width: 20vw;
}
.abq_library{
    width: 30vw;
}
.usda{
    width: 12vw;
}
}

@media (min-width: 1600px) {
.single_container{
    width: 38vw;
    margin: 3rem;
}
.clubs h2{
    font-size: 42pt;
}
}


@media (min-width: 1800px) {
.single_container p{
    width: 32vw;
}
.single_container h3{
    width: 32vw;
    font-size: 40pt;
}
}

@media (min-width: 2000px) {
    .abq_garden_center{
    width: 7vw;
}
.abq_master_gardeners{
    width: 12vw;
}
.abq_biopark{
    width: 10vw;
}
.five_oh_five{
    width: 15vw;
}
.abq_library{
    width: 20vw;
}
.usda{
    width: 9vw;
}
.single_container h3{
    width: 28vw;
}
.single_container p{
    width: 28vw;
}
}

