.sales{
    height: auto;
    padding-top: 5vh;
    background-image: linear-gradient(#4FA673, #DBBA4B , #FB492C87 ) ;
    display: flex;
    justify-content: center;
    flex-direction: column;   
    color: white;
    text-align: center;
}

.sales_welcome{
    margin: 5vh;
    background-color: #242424;
    height: auto;
    width: 60vw;
    border-radius: 12px;
    box-shadow: 11px 13px 10px 5px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
    align-self: center;
    color: #4FA673;
    font-weight: 600;
    font-size: 12pt;
    padding: 5vh;
}
.sales_welcome h1{
    color: #DBBA4B;
    font-size: 26pt;
    font-weight: 700;
}
.sales_welcome p{
    padding: 1.5vw;
}

.sales_body{
    margin: 1rem;
    padding-top: 2rem;
    background-color: #24242433;
    width: 92vw;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-self: center;
    flex-direction: column;
}
.sales_card{
    background-color: #1a2136;
    border: 3px solid #e0e0e0;
    padding: 1rem;
    margin: 1rem;
    box-sizing: border-box;
    border-radius: 12px;
-webkit-box-shadow:0px 0px 19px 11px rgba(189,189,107,0.18);
-moz-box-shadow: 0px 0px 19px 11px rgba(189,189,107,0.18);
box-shadow: 0px 0px 19px 11px rgba(189,189,107,0.18);

}
.sales_card h2{
    font-size: 18pt;
    font-weight: 800;
    padding: 0.5rem;
    text-decoration: underline;
}
.sales_card h3{
    color: #DBBA4B;
    padding: 0.5rem;
    font-weight: 600;
    font-size: 18pt;
}
.sales_card span{
    font-size: 10pt;
    color: #b1b1b1;
}
.sales_card_top{
    display: flex;
    justify-content: center;
}
.sales_card_img{
    height: 40vh;
    width: 70vw;
    object-fit: cover;
    border-radius: 12px;
    padding: 0.5rem;
}

.sales_body_header h2{
    font-size: 20pt;
    font-weight: 700;
    color: #DBBA4B;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        background-color: #1a2136;
}
.sales_card_bottom{
    padding-top: 0.5rem;
}


.promotions_card{
    background-color: #361a36;
    border: 3px solid #e0e0e0;
    padding: 1rem;
    margin: 1rem;
    box-sizing: border-box;
    border-radius: 12px;
-webkit-box-shadow:0px 0px 19px 11px rgba(189,189,107,0.18);
-moz-box-shadow: 0px 0px 19px 11px rgba(189,189,107,0.18);
box-shadow: 0px 0px 19px 11px rgba(189,189,107,0.18);

}
.promotions_card h2{
    font-size: 18pt;
    font-weight: 800;
    padding: 0.5rem;
    text-decoration: underline;
}
.promotions_card h3{
    color: #DBBA4B;
    padding: 0.5rem;
    font-weight: 600;
    font-size: 18pt;
}
.promotions_card span{
    font-size: 10pt;
    color: #b1b1b1;
}
.promotions_card_top{
    display: flex;
    justify-content: center;
}
.promotions_card_img{
    height: 40vh;
    width: 70vw;
    object-fit: cover;
    border-radius: 12px;
    padding: 0.5rem;
}

.promotions_body_header h2{
    font-size: 20pt;
    font-weight: 700;
    color: #DBBA4B;
    text-shadow: 2px 2px 4px rgba(83, 62, 62, 0.5);
        background-color: #361a36;
}
.promotions_card_bottom{
    padding-top: 0.5rem;
}











@media (min-width: 1024px) { 
    .sales_card span{
    font-size: 15pt;
}
    .promotions_card span{
    font-size: 15pt;
}
        .promotions{
        font-size: 18pt;
    }
    .promotions_card h2{
        padding: 0.5rem;
        font-size: 24pt !important;
    }
    .promotions_welcome{
        width: 40vw;
        border-radius: 20px;
    }
.promotions_welcome h1{
    font-size: 60pt;
}
.promotions_welcome p{
    padding: 0.5vw;
    font-size: 18pt;
}

.promotions_body_header h2{
    font-size: 50pt;
    font-weight: 700;
    background-color: #361a36;
    border-radius: 12px;
}
.promotions_body{
    margin-bottom: 6rem;
    padding-bottom: 4rem;
    width: 80vw;
}
.promotions_card h2{
    font-size: 32pt !important;
    padding: 2rem;
}
.promotions_card_container{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.promotions_card{
    height: auto;
    width: 55vw;
    align-self: center;
    border-radius: 20px;
    border: 4px solid #e0e0e0;
}
.promotions_card_img{
    height: 35vh;
    width: 50vw;
    border-radius: 20px;
}
    .sales{
        font-size: 18pt;
    }
    .sales_card h2{
        padding: 0.5rem;
        font-size: 24pt;
    }
    .sales_welcome{
        width: 40vw;
        border-radius: 20px;
    }
.sales_welcome h1{
    font-size: 60pt;
}
.sales_welcome p{
    padding: 0.5vw;
    font-size: 18pt;
}
.sales_body_header {
    padding: 4rem;
}
.sales_body_header h2{
    font-size: 50pt;
    font-weight: 700;
    background-color: #1a2136;
    border-radius: 12px;
}
.sales_body{
    margin-bottom: 6rem;
    padding-bottom: 4rem;
    width: 80vw;
}
.sales_card h2{
    font-size: 32pt;
    padding: 2rem;
}
.sales_card_container{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.sales_card{
    height: auto;
    width: 55vw;
    align-self: center;
    border-radius: 20px;
    border: 4px solid #e0e0e0;
}
.sales_card_img{
    height: 35vh;
    width: 50vw;
    border-radius: 20px;
}


.sales_card h3{
    font-size: 26pt;
}





}

@media (min-width:1225px) {
.sales_card{
    height: 57vh;
    width: 40vw;
    padding: 1.6rem;
}
.sales_body{
    width: 65vw;
}
.sales_card_img{
    height: 35vh;
    width: 35vw;
    border-radius: 20px;
}
.sales_welcome p{
    padding: 0.5vw;
}
.promotions_card{
    height: 57vh;
    width: 40vw;
    padding: 1.6rem;
}
.promotions_body{
    width: 65vw;
}
.promotions_card_img{
    height: 35vh;
    width: 35vw;
    border-radius: 20px;
}
.promotions_welcome p{
    padding: 0.5vw;
}
}









@media (min-width:1400px) {
    .sales_body{
        width: 90vw;
    }
 
    .promotions_card_container{
        flex-direction: row;
        flex-wrap: wrap;
    }

    .sales_card_container{
        flex-direction: row;
        flex-wrap: wrap;
    }
}





@media (min-width:1600px) {
    .sales_card{
        width: 35vw;
    }
        .promotions_card{
        width: 35vw;
    }
        .sales_card img{
        width: 32vw;
    }
    .promotions_card img{
        width: 32vw;
    }
}

@media (min-width:1800px) {
    .sales_card{
        width: 32vw;
    }
        .promotions_card{
        width: 32vw;
    }
        .sales_card img{
        width: 29vw;
    }
    .promotions_card img{
        width: 29vw;
    }
}





@media (min-width:2000px) {
    .sales_card{
        width: 30vw;
    }
        .promotions_card{
        width: 30vw;
    }
    .sales_card img{
        width: 27vw;
    }
    .promotions_card img{
        width: 27vw;
    }

}


@media (min-width:2200px) {
    .sales_card{
        width: 28vw;
    }
        .promotions_card{
        width: 28vw;
    }
    .sales_card img{
        width: 25vw;
    }
    .promotions_card img{
        width: 25vw;
    }

}

@media (min-width:2400px) {
    .sales_card{
        width: 26vw;
    }
        .promotions_card{
        width: 26vw;
    }
    .sales_card img{
        width: 23vw;
    }
    .promotions_card img{
        width: 23vw;
    }

}
@media (min-width:2600px) {
    .sales_card{
        width: 24vw;
    }
        .promotions_card{
        width: 24vw;
    }
    .sales_card img{
        width: 21vw;
    }
    .promotions_card img{
        width: 21vw;
    }

}





@media screen 
  and (min-width: 1000px) 
  and (max-height: 900px)  { 

    .sales_card{
        height: auto;
    }
    .promotions_card{
        height: auto;
    }

.sales_card_img{
    height: 50vh;
    width: 30vw;
    border-radius: 20px;
}
.promotions_card_img{
    height: 50vh;
    width: 30vw;
    border-radius: 20px;
}
}
